
body {
    box-sizing: border-box;
    background-image: url("images/body-background.jpg");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    height:200vh;
    width:100vw;
    margin:0;
    padding:0;
}
header{
    background-image: url("images/header-footer-background.jpg");
    color: whitesmoke;

    text-align: center;
}

header h1{
    margin: 0 auto;
}

.about-me{
    height: 30%;
}
#profile{
    width: 20%;
    display: inline-block;
    border-radius: 100%;
    float:left;
    margin: 2em 0 0 2em;
}

.text-container{
    float:right;
    width:70%;
    height:100%;
    font-size: 1.5em;
    margin-right: 1em;
}

.text-container h2{
    display:inline-block;
    width: 100%;
    vertical-align: top;
    float:left;
    margin: 5px;
}

.about-me p{
    display: inline-block;
    margin:5px;
}

.about-me ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: slategray;
}

a:hover{
    text-decoration: underline;
}

.my-links{
    margin-top: 1em;
    display: inline-block;
    float:left;
    width:20%;
}
.my-links button{
    display:block;
    border-radius: 15px;
    padding: 1.5em;
    width: 75%;
    position:relative;
    left: 2em;
    margin: 1em;
    font-size: 1em;
    overflow: hidden;
}

button img{
    height: auto;
    width: 20%;
    float: left;
    display:inline-block;
    margin:0;
}


